#header {
    background :#f5d1d6;
    width: 300px;
    padding: 10px 10px; 
    /*20 px: todos los lados
    20px 10px: 20 arriba 10 abajo
    */ 
    margin: 10px 10px 10px 10px;
    /*10px auto 0: 10 arriba auto en los lados 0 abajo
    10px 10px 10px 5 px 10 arriba, 10 al lado, 10 abajo, 5 a la izq
    */ 
    border: 1px dotted rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7);

}

.parrafo{
    color: orchid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-shadow: 0px 3px 3px black;
}

.imagen{
    position: relative;
    left: 180px;
    top: 40px;
}

.destacado{
    font-size: 30;
}

